{% extends 'base.html' %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <p1 class="mb-1">Рассылки</p1>
      {% if not perms.mailing.can_disabled_mailing %}
        <a href="{% url 'mailing:create' %}" class="btn btn-primary my-2" >Добавить рассылку</a>
      {% endif %}
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for mailing in object_list %}
          <div class="col">
            <div class="card-footer text-center shadow-sm">
              <div class="card-body">
                <p class="card-text">Отправитель : {{ mailing.owner.email }}</p>
                <p class="card-text">Статус : {{ mailing.status }} </p>
                <p class="card-text">Тема : {{ mailing.message.title }} </p>
                <div class="d-flex justify-content-between align-items-center">
                    <a class="btn btn-outline-primary" href="{% url 'mailing:detail' mailing.pk %}" role="button">Посмотреть</a>
                    {% if perms.mailing.can_disabled_mailing %}
                        <a class="btn btn-outline-primary" href="{% url 'mailing:update_status'  mailing.pk %}" role="button">Изменить</a>
                    {% else %}
                        <a class="btn btn-outline-primary" href="{% url 'mailing:update'  mailing.pk %}" role="button">Изменить</a>
                    {% endif %}
                    {% if not perms.mailing.can_disabled_mailing %}
                      <a class="btn btn-outline-primary" href="{% url 'mailing:confirm_delete' mailing.pk %}" role="button">Удалить</a>
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
